* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    height: 100px;
    border-bottom: 2px solid;
}

nav {
    display: flex;
}

nav {
    background-color: aqua;
}

.navegacao {
    display: flex;
    height: 100px;
    width: 300px;
    align-items: center;
    margin-left: 30%;
    background-color: lightcoral;
    color: white;
}

.div1 {
    display: flex;
}